<div class="w-25 h-100 fondo-verde d-block">
    <div class="card-deck p-4">
      <ng-container *ngIf="!!seleccionado">
        <div class="card text-center">
          <img src="https://http2.mlstatic.com/alimento-eukanuba-puppy-small-15kg-envios-a-todo-el-pais-D_NQ_NP_22839-MLA20236412383_012015-O.webp" >
          <p class="titulo mt-4 mb-2">{{seleccionado.categoria | titlecase}} - {{seleccionado.categoria | titlecase}}</p>
          <p class="marca">{{seleccionado.marca}}</p>
          <p class="precio">{{ seleccionado.precio | currency }} - {{ seleccionado.presentacion }}{{ seleccionado.unidadPresentacion }}</p>
          <div class="mx-auto">
            <fa-icon [icon]="['fas','minus']" class="mr-2" (click)="restar()"></fa-icon>
            <span>{{ unidades }} unidades</span>
            <fa-icon [icon]="['fas','plus']" class="ml-2" (click)="sumar()"></fa-icon>
          </div>
        </div>
      </ng-container>
    </div>
  </div>