<div class="h-100 d-flex">
  <div class="w-75 overflow-auto">
    <table class="table table-striped table-dark">
      <tr>
        <th>Codigo</th>
        <th>Categoria</th>
        <th>Producto</th>
        <th>Marca</th>
        <th>Presentacion</th>
        <th>Stock</th>
        <th>Precio</th>
      </tr>
      <tr>
        <td>1230025</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>25 kg</td>
        <td class="text-warning">10</td>
        <td>{{ '1250' | currency }}</td>
      </tr>
      <tr>
        <td>1230028</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>7,5 kg</td>
        <td class="text-danger">1</td>
        <td>{{ '350' | currency }}</td>
      </tr>
      <tr>
        <td>1230030</td>
        <td>Alimento</td>
        <td>Diet</td>
        <td>Royal Canin</td>
        <td>10 kg</td>
        <td>22</td>
        <td>{{ 900 | currency }}</td>
      </tr>
      <tr>
        <td>1240077</td>
        <td>Juguetes</td>
        <td>Mordillo</td>
        <td>Kong</td>
        <td>1 unidad</td>
        <td class="text-success">55</td>
        <td> {{ 600 | currency }}</td>
      </tr>
      <tr>
        <td>1230025</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>25 kg</td>
        <td class="text-warning">10</td>
        <td>{{ '1250' | currency }}</td>
      </tr>
      <tr>
        <td>1230028</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>7,5 kg</td>
        <td class="text-danger">1</td>
        <td>{{ '350' | currency }}</td>
      </tr>
      <tr>
        <td>1230030</td>
        <td>Alimento</td>
        <td>Diet</td>
        <td>Royal Canin</td>
        <td>10 kg</td>
        <td>22</td>
        <td>{{ 900 | currency }}</td>
      </tr>
      <tr>
        <td>1240077</td>
        <td>Juguetes</td>
        <td>Mordillo</td>
        <td>Kong</td>
        <td>1 unidad</td>
        <td class="text-success">55</td>
        <td> {{ 600 | currency }}</td>
      </tr>
      <tr>
        <td>1230025</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>25 kg</td>
        <td class="text-warning">10</td>
        <td>{{ '1250' | currency }}</td>
      </tr>
      <tr>
        <td>1230028</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>7,5 kg</td>
        <td class="text-danger">1</td>
        <td>{{ '350' | currency }}</td>
      </tr>
      <tr>
        <td>1230030</td>
        <td>Alimento</td>
        <td>Diet</td>
        <td>Royal Canin</td>
        <td>10 kg</td>
        <td>22</td>
        <td>{{ 900 | currency }}</td>
      </tr>
      <tr>
        <td>1240077</td>
        <td>Juguetes</td>
        <td>Mordillo</td>
        <td>Kong</td>
        <td>1 unidad</td>
        <td class="text-success">55</td>
        <td> {{ 600 | currency }}</td>
      </tr>
      <tr>
        <td>1230025</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>25 kg</td>
        <td class="text-warning">10</td>
        <td>{{ '1250' | currency }}</td>
      </tr>
      <tr>
        <td>1230028</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>7,5 kg</td>
        <td class="text-danger">1</td>
        <td>{{ '350' | currency }}</td>
      </tr>
      <tr>
        <td>1230030</td>
        <td>Alimento</td>
        <td>Diet</td>
        <td>Royal Canin</td>
        <td>10 kg</td>
        <td>22</td>
        <td>{{ 900 | currency }}</td>
      </tr>
      <tr>
        <td>1240077</td>
        <td>Juguetes</td>
        <td>Mordillo</td>
        <td>Kong</td>
        <td>1 unidad</td>
        <td class="text-success">55</td>
        <td> {{ 600 | currency }}</td>
      </tr>
      <tr>
        <td>1230025</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>25 kg</td>
        <td class="text-warning">10</td>
        <td>{{ '1250' | currency }}</td>
      </tr>
      <tr>
        <td>1230028</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>7,5 kg</td>
        <td class="text-danger">1</td>
        <td>{{ '350' | currency }}</td>
      </tr>
      <tr>
        <td>1230030</td>
        <td>Alimento</td>
        <td>Diet</td>
        <td>Royal Canin</td>
        <td>10 kg</td>
        <td>22</td>
        <td>{{ 900 | currency }}</td>
      </tr>
      <tr>
        <td>1240077</td>
        <td>Juguetes</td>
        <td>Mordillo</td>
        <td>Kong</td>
        <td>1 unidad</td>
        <td class="text-success">55</td>
        <td> {{ 600 | currency }}</td>
      </tr>
      <tr>
        <td>1230025</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>25 kg</td>
        <td class="text-warning">10</td>
        <td>{{ '1250' | currency }}</td>
      </tr>
      <tr>
        <td>1230028</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>7,5 kg</td>
        <td class="text-danger">1</td>
        <td>{{ '350' | currency }}</td>
      </tr>
      <tr>
        <td>1230030</td>
        <td>Alimento</td>
        <td>Diet</td>
        <td>Royal Canin</td>
        <td>10 kg</td>
        <td>22</td>
        <td>{{ 900 | currency }}</td>
      </tr>
      <tr>
        <td>1240077</td>
        <td>Juguetes</td>
        <td>Mordillo</td>
        <td>Kong</td>
        <td>1 unidad</td>
        <td class="text-success">55</td>
        <td> {{ 600 | currency }}</td>
      </tr>
      <tr>
        <td>1230025</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>25 kg</td>
        <td class="text-warning">10</td>
        <td>{{ '1250' | currency }}</td>
      </tr>
      <tr>
        <td>1230028</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>7,5 kg</td>
        <td class="text-danger">1</td>
        <td>{{ '350' | currency }}</td>
      </tr>
      <tr>
        <td>1230030</td>
        <td>Alimento</td>
        <td>Diet</td>
        <td>Royal Canin</td>
        <td>10 kg</td>
        <td>22</td>
        <td>{{ 900 | currency }}</td>
      </tr>
      <tr>
        <td>1240077</td>
        <td>Juguetes</td>
        <td>Mordillo</td>
        <td>Kong</td>
        <td>1 unidad</td>
        <td class="text-success">55</td>
        <td> {{ 600 | currency }}</td>
      </tr>
      <tr>
        <td>1230025</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>25 kg</td>
        <td class="text-warning">10</td>
        <td>{{ '1250' | currency }}</td>
      </tr>
      <tr>
        <td>1230028</td>
        <td>Alimento</td>
        <td>Balance</td>
        <td>Eukanuba</td>
        <td>7,5 kg</td>
        <td class="text-danger">1</td>
        <td>{{ '350' | currency }}</td>
      </tr>
      <tr>
        <td>1230030</td>
        <td>Alimento</td>
        <td>Diet</td>
        <td>Royal Canin</td>
        <td>10 kg</td>
        <td>22</td>
        <td>{{ 900 | currency }}</td>
      </tr>
      <tr>
        <td>1240077</td>
        <td>Juguetes</td>
        <td>Mordillo</td>
        <td>Kong</td>
        <td>1 unidad</td>
        <td class="text-success">55</td>
        <td> {{ 600 | currency }}</td>
      </tr>
    </table>
  </div>
  <div class="w-25 h-100 fondo-verde d-block">
    <div class="card-deck p-4">
      <div class="card text-center">
          <img src="https://http2.mlstatic.com/alimento-eukanuba-puppy-small-15kg-envios-a-todo-el-pais-D_NQ_NP_22839-MLA20236412383_012015-O.webp" >
          <p class="titulo mt-4 mb-2">Alimento - Puppies</p>
          <p class="marca">Eukanuba</p>
          <p class="precio">$2540 - 25kg</p>
          <div class="mx-auto">
              <fa-icon [icon]="['fas','minus']" class="mr-2"></fa-icon>
              <span>5 unidades</span>
              <fa-icon [icon]="['fas','plus']" class="ml-2"></fa-icon>
          </div>
      </div>
    </div>
  </div>
</div>
