<div class="h-100 d-flex">
  <div class="mx-auto overflow-auto">
    <table class="table table-striped table-dark">
      <tr>
        <th>Codigo</th>
        <th>Categoria</th>
        <th>Sub-categoria</th>
        <th>Producto</th>
        <th>Marca</th>
        <th>Presentacion</th>
        <th>Stock</th>
        <th>Precio</th>
      </tr>
      <tr *ngFor="let p of productos;let i = index" (click)="seleccionar(i)">
        <td>{{p.codigo }}</td>
        <td>{{p.categoria | titlecase}}</td>
        <td>{{p.subcategoria | titlecase}}</td>
        <td>{{p.nombre | titlecase}}</td>
        <td>{{p.marca | titlecase}}</td>
        <td>{{p.presentacion}} {{p.unidadPresentacion}}</td>
        <td [ngClass]="{'text-warning': p.stock < 10}">{{ p.stock }}</td>
        <td>{{ p.precio | currency }}</td>
      </tr>
    </table>
  </div>
  
</div>
