/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    font-family:'Source Sans Pro', sans-serif; 
    width: 100vw;
}

.espacio- {
    &inferior{
        height: 7vh;
    }
    &superior{
        height: 8vh;
    }
    &central{
        height: 85vh;
    }
}
