<div class="wrapper">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div id="formContent" *ngIf="!isLoading">
    <form (ngSubmit)="doLogin()" [formGroup]="loginForm">
      <div class="text-center mb-4">
        <img src="../../../assets/img/logo.jpg" alt="" width="80%"  height="80%">
      </div>
      <div class="form-label-group">
        <input type="email" formControlName="email" class="form-control" placeholder="E-mail" required autofocus autocomplete="username">
        <p *ngIf="invalidEmail"><small class="text-danger">Verificá tu email</small></p>
      </div>
      <div class="form-label-group">
        <input type="password"  formControlName="password" class="form-control" placeholder=" " required autocomplete="current-password">
        <p *ngIf="invalidPass"><small class="text-danger">Contraseña inválida</small></p>
      </div>
      <button class="btn btn-lg btn-primary btn-block">Iniciar sesion</button>
      <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </form>
  </div>
</div>
