<div class="wrapper">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div id="formContent" *ngIf="!isLoading">
      <form (ngSubmit)="doSignup()" [formGroup]="signupForm">
        <div class="text-center mb-4">
          <img src="../../../assets/img/logo.jpg" alt="" width="80%"  height="80%">
        </div>
        <div class="form-label-group">
          <input type="email" formControlName="email" class="form-control" placeholder="E-mail" required autofocus autocomplete="username">
        </div>
        <div class="form-label-group">
          <input type="password"  formControlName="password" class="form-control" placeholder="Contraseña" required autocomplete="current-password">
        </div>
        <p>
            <small *ngIf="invalidEmail" class="text-danger">Completá tu email. </small>
            <br>
            <small *ngIf="invalidPass" class="text-danger">Debes proporcionar una contraseña. </small>
            <br>
            <small *ngIf="!!invalidLoginMessage" class="text-danger">{{invalidSignupMessage}}</small>
        </p>
        <button class="btn btn-lg btn-primary btn-block">Registrarme</button>
        <a [routerLink]="['/login']" class="btn btn-link">¡Ya soy cliente!</a>
      </form>
    </div>
  </div>
