<div class="mx-auto my-4 d-inline">
  <h2 class="mx-auto mt-4">Base de Datos</h2>
  <h5 class="mb-3">Aqui apareceran las acciones disponibles para un Superusuario, para manejar la base de datos de manera rápida.</h5>
  <div class="btn-group btn-group-lg btn-group-vertical" role="group">
    <button class="btn btn-lg btn-primary">Agregar usuario</button>
    <button class="btn btn-lg btn-primary">Agregar producto</button>
    <button class="btn btn-lg btn-primary">Agregar categoria</button>
    <button class="btn btn-lg btn-primary">Agregar algo</button>
    <button class="btn btn-lg btn-info">Realizar back-up</button>
    <button class="btn btn-lg btn-danger">BORRAR BASE DE DATOS</button><span class="mx-auto my-n3">** NO TOCAR **</span>
  </div>
</div>
