<div class="d-flex mt-5 mx-5">
  <div class="card flex-column px-5">
    <div class="card-header">
      <h1 class="text-center">Welcome. Bienvenido. Benvenutti. Wilkommen.</h1>
    </div>
    <div class="card-body d-flex flex-column">
      <div class="flex-row mx-auto mt-2 mb-5 py-4">
        <h2 class="mx-auto">Este es mi proyecto final del Profesorado Superior en Informatica.</h2>
      </div>
      <div class="row col-12 py-3">
        <div class="flex-column col-6 px-5">
          <h3 class="text-center">
            <i>¿Que es?</i>
          </h3>
          <p>
            Es una SPA (<i>Single page application</i>), diseñada y desarrollada con fines academicos. Para la misma,
            utilice el Stack <b>MEAN</b>, compuesto por 4 tecnologias: MongoDB, Express, Angular y NodeJS.
            Si bien, esta pensada como dos aplicaciones distintas, una en front-end y una en back-end, es posible
            deployarla
            como si fuera una sola.
          </p>
          <p>
            Inicialmente, fue concebida como una aplicacion para un server local, de uso solo para los empleados.
            Actualmente, se puede escalar a un servidor web, permitiendo la consultar o modificar la informacion,
            segun el role asignado por el PO. (<i>Product Owner</i>)
          </p>
        </div>
        <div class="flex-column col-3 px-5">
          <h3 class="text-center">
            <i>¿Que podria ser?</i>
          </h3>
          <p>
            Una solucion integral para comercios, con modulos de manejo de inventario, turnos, estadisticas...
          </p>
        </div>
        <div class="flex-column col-3 px-5">
          <h3 class="text-center">
            <i>¿Cual es la utilidad de esta página?</i>
          </h3>
          <p>
            Una vez el sitio se encuentre productivo, será la página de presentación del comercio.
          </p>
        </div>
      </div>
      <div class="flex-row mx-auto">
        <img class="author"
          src="https://media.licdn.com/dms/image/C4D03AQEnMpzYHofJFw/profile-displayphoto-shrink_200_200/0?e=1573084800&v=beta&t=-zbcblBCgXXQ0qJuxhDNVTBLRyhBHyN8RQbf1XN0Bv8"
          alt="">
      </div>
    </div>
    <div class="card-footer text-center">
      <small><i>No se como llegaste hasta aquí...</i></small>
    </div>
  </div>
</div>
