/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

.inner.cover {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;

}

.cover-container {
  max-width: 42em;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.card {
  background-color: rgb(6, 82, 35);
  color: #fff;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, .5);
}

.author {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
